@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar ul .active {
  color: rgb(220, 169, 1);
}

body, html {
  overflow-x: hidden;
  }

*{
  box-sizing: border-box;
}

.pagination {
  list-style: none;
  height: auto;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.hero{
  background-color: #F5F0EA;
}

.world{
  background-color: #020923;
}




.Pg_active {
  background-color: #297efd;
  color: white;
  border-radius: 20%;
  padding: 4px 13px;
}




